queryscore/Web References/chafen/ahxkp_cjcx_webserver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/zjdx/ahxkp_cjcx_webserver" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/zjdx/ahxkp_cjcx_webserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/zjdx/ahxkp_cjcx_webserver">
      <s:element name="xscjcx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Scan1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Scan2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xscjcxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xscjcxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="xscjcxSoapIn">
    <wsdl:part name="parameters" element="tns:xscjcx" />
  </wsdl:message>
  <wsdl:message name="xscjcxSoapOut">
    <wsdl:part name="parameters" element="tns:xscjcxResponse" />
  </wsdl:message>
  <wsdl:portType name="ahxkp_cjcx_webserverSoap">
    <wsdl:operation name="xscjcx">
      <wsdl:input message="tns:xscjcxSoapIn" />
      <wsdl:output message="tns:xscjcxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ahxkp_cjcx_webserverSoap" type="tns:ahxkp_cjcx_webserverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="xscjcx">
      <soap:operation soapAction="http://tempuri.org/zjdx/ahxkp_cjcx_webserver/xscjcx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ahxkp_cjcx_webserver">
    <wsdl:port name="ahxkp_cjcx_webserverSoap" binding="tns:ahxkp_cjcx_webserverSoap">
      <soap:address location="http://210.30.208.140/ahxkp_cjcx_webserver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>